@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff") format("woff"),
    url("/fonts/Vazir.woff2") format("woff2");
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("/fonts/Vazir-Medium.woff") format("woff"),
    url("/fonts/Vazir-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Vazir-Regular";
  src: url("/fonts/Vazir-Regular.woff") format("woff"),
    url("/fonts/Vazir-Regular.woff2") format("woff2");
}
body {
  background-color: #02161d;
  color: #fff;
  font-family: "Vazir-Regular", "IRANSansWeb", "Vazir", "Vazir-Medium" !important;
}
